<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="/static/js/test.js"></script>
        <title>hello</title>
    </head>
    <body>
        <div id="hello">
            <h1>Hello!</h1>
            <form method="POST" action="/info">
                say something: <input type="text" name="Something"><br/><br/>
                <input type="submit" value="submit"><br/><br/>
            </form>
            <input type="button" onclick="f()" value="js">
        </div>
    </body>
</html>